.search-toolbar{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: baseline
}
.search-input{
    width: 60%;
    height: 2rem;
    width: 80%;
    margin: 0.5rem 1rem;
}

.search-button{
    padding: 10px;
    height: 2rem;
    /* margin: 10px; */
}

.header{
    display: flex;
    justify-content: center;
}